<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Application-specific Logger -->
        <Logger name="de.ipb_halle" level="DEBUG" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
